<div id="outer-wrapper">
  <div id="wrapper">

    <header>
      <h1>Forms Approaches</h1>
    </header>
    
    <div class="driven">
      <h4>Driven</h4>
        <ul>
          <li>Used for smaller project.</li>
          <li>Less control.</li>
        </ul>
      <div class="row">
        <button routerLink="driven" class="btn btn-primary">Go Driven</button>
      </div>
    </div>
  
    <div class="reactive">
      <h4>Reactive</h4>
        <ul>
          <li>Used for bigger project.</li>
          <li>More control.</li>
        </ul>
      <div class="row">
        <button routerLink="reactive" class="btn btn-primary">Go Reactive</button>
      </div>
    </div>
  </div>
</div>
